---
title: WARFACE – Product Designer
layout: default
---
<style>
.bg-light {
  background: transparent !important;
}
.navbar-brand {
  margin: 0 auto !important;
}
.navbar-light .navbar-toggler {
  display: none;
}
.hero h2 {
  text-align: center;
}
</style>

<div class="container-fluid sticky hero">
  {% include about.html %}
  <p class="lead">Blurb</p> HOME
</div>

<div class="sheets">

  <div class="container-fluid">
    <div class="row color-block trainline">
      <div class="col-5 col-sm-4">
        <a class="stretched-link" style="display: block;" href="{{ site.baseurl }}/trainline-mobile-apps"></a>

        <div class="center-align">
          <div class="scroll-element js-scroll fade-in">
            <h2 style="color: #3a55bf;">Trainline mobile apps</h2>
            <h4><a href="trainline-mobile-apps">The customer champion of train travel</a></h4>
            <p class="lead">Product design, UI, UX.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row color-block cookpad">
      <div class="col-5">
        <div class="center-align">
          <div class="scroll-element js-scroll fade-in">
            <h2>Cookpad</h2>
            <h4><a href="cookpad">Restaurant facing tools</a></h4>
            <p class="lead">Product design, UI, UX.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row color-block sciencemuseum">
      <div class="col-5">
        <div class="center-align">
          <div class="scroll-element js-scroll fade-in">
            <h2 style="color: pink;">Science Museum</h2>
            <h4><a href="science-museum-lighting-control-app">Science Museum</a></h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row color-block oatbook">
      <div class="col-5">
        <div class="center-align">
          <div class="scroll-element js-scroll fade-in">
            <h2 style="color: #304a5d;">OATBook</h2>
            <h4><a href="oatbook-medical-app">Medical tracker app for patients taking warfarin</a></h4>
            <p class="lead">Product design, UI, UX.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row color-block artimbarc">
      <div class="col-5">
        <div class="center-align">
          <div class="scroll-element js-scroll fade-in">
            <h2 style="color: #304a5d;">ARTimbarc</h2>
            <h4><a href="artimbarc">Gallery audio tour platform</a></h4>
            <p class="lead">Product design, UI, UX.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row color-block recliningworm">
      <div class="col-5">
        <div class="center-align">
          <div class="scroll-element js-scroll fade-in">
            <h2 style="color: #fff0cd;">Reclining Worm</h2>
            <h4><a href="reclining-worm">Reclining Worm</a></h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row color-block justeat">
      <div class="col-5">
        <div class="center-align">
          <div class="scroll-element js-scroll fade-in">
            <h2 style="color: #304a5d;">Just Eat</h2>
            <h4><a href="artimbarc">Restaurant facing tools</a></h4>
            <p class="lead">Product design, UI, UX.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="cards-lg">
    {% include project-cards.html %}
  </div>

  {% include clients.html %}

</div>
