
<div class="container-fluid clients">
  <div class="row">
    <!--
      <div class="col-4 col-md-3">
      <a href="{{ site.baseurl }}/trainline-mobile-apps"><span class="helper trainline"></span></a>
    </div>
    <div class="col-4 col-md-3">
      <a href="{{ site.baseurl }}/science-museum-lighting-control-app"><span class="helper science-museum"></span></a>
    </div>
    -->
    <div class="col-4 col-md-3">
      <a href="{{ site.baseurl }}/just-eat"><span class="helper justeat"></span></a>
    </div>
    <!--
    <div class="col-4 col-md-3">
      <a href="{{ site.baseurl }}/cookpad"><span class="helper cookpad"></span></a>
    </div>
    -->
    <div class="col-4 col-md-3">
      <a class="helper lloyds" href="{{ site.baseurl }}/lloyds-banking-app"></a>
    </div>
    <div class="col-4 col-md-3">
      <a href="{{ site.baseurl }}/tesco-pet-tracker-app"><span class="helper tesco"></span></a>
    </div>
    <div class="col-4 col-md-3">
      <span class="helper elsevier"></span>
    </div>
    <div class="col-4 col-md-3">
      <a href="{{ site.baseurl }}/fifa-world-cup-app"><span class="helper fifa"></span></a>
    </div>
    <div class="col-4 col-md-3">
      <span class="helper homebase"></span>
    </div>
    <div class="col-4 col-md-3">
      <span class="helper gov"></span>
      <img src="{{ site.baseurl }}/assets/images/logos/gov-logo.png" alt="Gov uk">
    </div>
    <div class="col-4 col-md-3">
      <span class="helper rbs"></span>
    </div>
    <div class="col-4 col-md-3">
      <span class="helper experian"></span>
    </div>
  </div>
</div>
