html, body {
  background: $base-clay;
  color: $dark-clay;
}
a {
  color: #2dca8a;
  font-weight: bold;
}
a.navbar-brand {
  background: url("../images/warface-logo.svg")0 0 no-repeat;
  height: 48px;
  width: 80px;
  margin-left: 0.5rem;
}
a.navbar-brand:hover {
  opacity: 0.1;
}


::selection {
  background-color: rgba(255,255,255,0.4);
  color: $blue;
}
.navbar {
  li.nav-item {
    padding-left: 0.8rem;
  }
}
.navbar-collapse {
  width: 100%;
}
.navbar-light .navbar-nav .nav-link {
  color: $yellow;
  font-size: 28px;
  font-family: 'SerifGothic';
  text-transform: uppercase;
}
.nav-link:hover {
  color: $khaki-green !important;
}
.navbar-light .navbar-toggler {
  border: none;
}
.navbar-toggler-icon {
  width: 2rem;
  height: 2rem;
  border: 0;
}
.navbar-toggler:focus, .navbar-toggler:active  {
  border: 5px solid black;
  border: 0;
  outline: none;
  opacity: 0.4;
}
.navbar-light .navbar-toggler-icon {
  background: url('../images/menu.svg') 0 0 no-repeat;
}
.case-study {
  margin-top: 16px;
}
.container-fluid {
  margin-top: 0px;
  padding-top: 0px;
}
.image-block {
  margin: 20px 0px;
}
.color-block {
  height: 68vh;
  background: $pink-1;

  .center-align {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }

  h2 {
    padding-top: 10px;
  }
}
.carousel {
  margin: 40px 0px;
}
.sheets, footer {
  background: $base-clay;
  z-index: 100;
  position: relative;
  display: block;
  margin-top: -24px;
}
.sheets .container-fluid {
  margin-top: 0px;
  padding-top: 0px;
}

.hero .row {
  margin: 0px;
}
.hero {
  padding: 0px;
  padding-bottom: 16px;
  margin-top: 0px;
  text-align: center;

  h2 {
    padding-top: 10px;
  }
}

.sticky {
  position: sticky;
  z-index: 0;
  top: 0;
  padding-bottom: 25px;
  opacity: 1;
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
}

.rating-5 {
  background: url('/assets/images/projects/rating.svg') 24px center no-repeat;
  display: inline-block;
  width: 110px;
  height: 20px;
  text-align: left;
}
.img-fluid {
  width: 100%;
}
.clients {
  padding-bottom: 80px;
}

footer {
  /* background: $yellow; */
  background: $base-clay;
  padding-bottom: 28px;
  width: 100%;
  color: $clay;

  .container-fluid {
    padding-top: 20px;
    margin-top: 0px;
  }
  a {
    font-weight: 400;
    color: $clay;
  }
  a:hover {
    color: $yellow;
    text-decoration: none;
  }
}
.Contact footer {
  display: none;
}


.form-control {
  border: 1px solid $clay;
}
.form-control:focus {
  border: 2px solid $pink-1;
  box-shadow: none;
}
.btn-primary {
  background: black;
  border: none;
  font-family: 'SerifGothic';
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border-radius: 2rem;
}
.btn-primary:hover {
  background: $yellow;
}
.btn-primary:active, .btn-primary:focus {
  background: pink !important;
  border: none !important;
  box-shadow: none !important;
}


.carousel-item img {
  object-fit: cover;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
  background-image: none;
}
.clients img {
  width: 100%;
}
.clients .col-4 {
  height: 80px;
  width: 160px;
  white-space: nowrap;
  text-align: center; margin: 1em 0;
}
.clients .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.clients img {
    vertical-align: middle;
    max-height: 40px;
    max-width: 160px;
}
.clients {
  .helper {
    opacity: 0.8;
    max-width: 200px;
  }
  .trainline {
    background: url('../images/logos/tl-black-logo.svg')center center no-repeat;
    width: 100%;
    background-size: 60%;
  }
  .science-museum {
    background: url('../images/logos/sciencemuseum-black-logo.svg')center center no-repeat;
    width: 100%;
    background-size: 60%;
  }
  .justeat {
    background: url('../images/logos/justeat-black-logo.svg')center center no-repeat;
    width: 100%;
    background-size: 80%;
  }
  .cookpad {
    background: url('../images/logos/cookpad-black-logo.svg')center center no-repeat;
    width: 100%;
    background-size: 80%;
  }
  .lloyds {
    background: url('../images/logos/lloyds-black-logo.svg')center center no-repeat;
    width: 100%;
    background-size: 50%;
  }
  .tesco {
    background: url('../images/logos/tesco-black-logo.svg')center center no-repeat;
    width: 100%;
    background-size: 60%;
  }
  .elsevier {
    background: url('../images/logos/elsevier-black-logo.svg')center center no-repeat;
    width: 100%;
    background-size: 30%;
  }
  .fifa {
    background: url('../images/logos/fifa-black-logo.svg')center center no-repeat;
    width: 100%;
    background-size: 60%;
  }
  .homebase {
    background: url('../images/logos/homebase-black-logo.svg')center center no-repeat;
    width: 100%;
    background-size: 80%;
  }
  .rbs {
    background: url('../images/logos/rbs-black-logo.svg')center center no-repeat;
    width: 100%;
    background-size: 70%;
  }
  .experian {
    background: url('../images/logos/experian-black-logo.svg')center center no-repeat;
    width: 100%;
    background-size: 70%;
  }
  .gov {
    background: url('../images/logos/gov-logo.png')center center no-repeat;
    width: 100%;
    background-size: 72%;
  }
}
.recliningworm {
  cursor:url("../assets/images/icons/finger.png") 16 0,auto; /*!emojicursor.app*/
}
