
$base-clay: #F0E8DD;
$clay: #e2dacd;
$dark-clay: #9e9889;
$yellow: #FDB813;
$khaki-green: #325026;
$white: #ffffff;
$black: #000000;
$blue: #3a55bf;
$green: #2dca8a;
$cream: #fff0cd;

$pink-1: pink;
$pink-2: #f34977;

$trainline-primary: #21304d;
$trainline-secondary: #48D5B5;

$justeat-primary: #000000;
$justeat-secondary: #000000;

$oatbook-primary: #000000;
$oatbook-secondary: #000000;

$cookpad-primary: #FF9933;
$cookpad-secondary: white;


.color-block.trainline {
  background: $trainline-secondary;
  // background-image: url('../images/projects/test-card.png');
  color: $white;
  ::selection {
    background: blue;
  }
}
.color-block.sciencemuseum {
  background: $blue;
}
.color-block.oatbook {
  background: #ffca4c;
}
.color-block.recliningworm {
  background: $pink-1;
}
.color-block.artimbarc {
  background: #3a55bf;
}
.color-block.justeat {
  background: #ff3d3d;
}
.color-block.recliningworm {
  background: $pink-1;
}
.color-block.cookpad {
  background: $cookpad-primary;
  h2 {
    color: $cookpad-secondary;
  }
}


.trainline {
  html, body {
    background: $trainline-primary;
  }
  h1, h3 {
    color: $trainline-primary;
  }
  h2 {
    color: $trainline-secondary;
  }
  a {
    color: $trainline-primary;
  }
  a:hover {
    color: $trainline-secondary;
  }
}
.oatbook {
}
.lloyds {
}
.reclining-worm {
}
.just-eat {
}
.cookpad {
}
.artimbarc {
}
.science-museum {
}
.walkie-talkies {
  background: green;
}
.primary {
}
.secondary {
}
.tertiary {
}
