// Mobile
@media only screen and (max-width: 600px) {

  .navbar {
    padding: 0.5rem 0px;
  }

  h1 {
    font-size: 3.8rem;
    letter-spacing: -0.1rem;
    line-height: 2.8rem;
    /* transition-duration: 6s; */
  }
  h2 {
    font-size: 2.5rem;
    letter-spacing: -0.1rem;
    line-height: 2.2rem;
    word-spacing: -0.2rem;
  }
  p.lead {
    font-size: 1.4rem;
  }
  .color-block {
    background-image: url('../images/projects/test-card-m.png');
    background-position: center;
  }
  .color-block.cookpad {
    background-image: url('../images/projects/banners/mob-cookpad.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  .color-block.trainline {
    background-image: url('../images/projects/banners/mob-trainline.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  .color-block.sciencemuseum {
    background-image: url('../images/projects/banners/mob-sciencemuseum.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  .color-block.oatbook {
    background-image: url('../images/projects/banners/mob-oatbook.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  .color-block.recliningworm {
    background: #3a55bf;
    background-image: url('../images/projects/banners/mob-recliningworm.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  .hero {
    padding-top: 64px;
  }
  .lead {
    font-size: 1rem;
  }
}

// Tablet
@media only screen and (min-width: 601px) {

  .navbar {
    padding: 0.5rem 0px;
  }
  .hero {
    padding-top: 64px;
  }

  h1 {
    font-size: 6rem;
    letter-spacing: -0.1rem;
    line-height: 3.9rem;
    margin-bottom: 0px;
    /* transition-duration: 6s; */
  }
  h2 {
    font-size: 6.5rem;
    line-height: 5.1rem;
  }
  .hero h1 {
    font-size: 3rem;
  }
  .image-block {
    margin: 40px 0px;
  }
  .color-block.cookpad {
    background-image: url('../images/projects/banners/tablet-cookpad.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  .color-block.trainline {
    background-image: url('../images/projects/banners/tablet-trainline.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  .color-block.sciencemuseum {
    background-image: url('../images/projects/banners/tablet-sciencemuseum.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  .color-block.oatbook {
    background-image: url('../images/projects/banners/tablet-oatbook.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  .color-block.recliningworm {
    background: #3a55bf;
    background-image: url('../images/projects/banners/tablet-recliningworm.png');
    background-position: center;
    background-repeat: no-repeat;
  }
}

// Desktop
@media only screen and (min-width: 991px) {
  html {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='79' height='95' viewport='0 0 100 100' style='fill:black;font-size:47px;'><text y='50%'>🍕</text></svg>") 16 0,auto; /*!emojicursor.app*/
  }
  a {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='80' height='80' viewport='0 0 100 100' style='fill:black;font-size:44px;'><text y='50%'>☺️</text></svg>") 16 0,auto; /*!emojicursor.app*/
  }
  .navbar-nav .scrollmenu {
    display: none;
  }
  .hero {
    padding-top: 74px;
  }

  .color-block {
    height: 88vh;
    background-image: url('../images/projects/test-card-m.png');
    background-position: center;
  }
  .color-block.cookpad {
    background-image: url('../images/projects/banners/desktop-cookpad.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  .color-block.trainline {
    background-image: url('../images/projects/banners/desktop-trainline.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  .color-block.sciencemuseum {
    background-image: url('../images/projects/banners/desktop-sciencemuseum.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  .color-block.oatbook {
    background-image: url('../images/projects/banners/desktop-oatbook.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  .color-block.recliningworm {
    background: #3a55bf;
    background-image: url('../images/projects/banners/desktop-recliningworm.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  h1 {
    font-size: 8rem;
    letter-spacing: -0.1rem;
    line-height: 6rem;
  }
  h2 {
    letter-spacing: -0.2rem;
  }
  h4 {
    margin-top: 40px;
  }
  h6 {
    font-size: 3.4rem;
    line-height: 2.7rem;
    word-spacing: -0.6rem;
  }
  p {
    font-size: 1.2rem;
  }
  a.navbar-brand {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='79' height='95' viewport='0 0 100 100' style='fill:black;font-size:47px;'><text y='50%'>🍕</text></svg>") 16 0,auto; /*!emojicursor.app*/
  }
  .contact a {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='79' height='95' viewport='0 0 100 100' style='fill:black;font-size:47px;'><text y='50%'>🤙</text></svg>") 16 0,auto; /*!emojicursor.app*/
  }
  .carousel-control-prev {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:44px;'><text y='50%'>👈</text></svg>") 16 0,auto; /*!emojicursor.app*/
  }
  .carousel-control-next {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:44px;'><text y='50%'>👉</text></svg>") 16 0,auto; /*!emojicursor.app*/
  }
  .clients {
    padding-top: 8vh !important;
  }
}
